<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Music</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Style -->
    <link type="text/css" href="../static/src/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- <h1>music is my life~</h1> -->
    <!-- <label for="thefile" class="file">
        <input class="upload-name" type="file" id="thefile" accept="audio/mp3" />
    </label> -->

    <!-- <audio id="audio" controls></audio> -->
    <div id="canvas"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tonal/browser/tonal.min.js"></script>
    <script type="module" defer src="./static/src/js/dist/main.js"></script>
</body>
</html>