<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>DEMO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Style -->
    <link type="text/css" href="../static/src/css/style.css" rel="stylesheet">
    <script src="https://unpkg.com/meyda/dist/web/meyda.min.js"></script>
</head>

<body>
    <div id="content">
        <div class="thetitle" id="title"></div>
        <div id="canvas"></div>
    </div>

    <br>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/noisejs@2.1.0/index.min.js"></script>

    <script type="module" defer src="./static/src/js/dist/colors.js"></script>
    <script type="module" defer src="./static/src/js/dist/timebytime.js"></script>
</body>
</html>